<% if (messages.info) {%>
<div class="msg" id="info">
  <center><p> <%- messages.info %></p></center>
</div>
<% } else if(messages.error){%>
<div class="msg" id="error">
  <%console.log(messages.error)%>
  <center> <p><%- messages.error %></p></center>
</div>
<% } else if(messages.success){ %>
<div class="msg" id="success">
  <center><p><%- messages.success %></p></center>
</div>
<% } %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  setTimeout(function() {
    $('.msg').fadeOut('fast');
  }, 3000); // <-- time in milliseconds
</script>
