<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

<ul id="menu" class="nav">
    <li><img id="logo"  src=/imgs/logo.png alt="Something"></li>
    <%if (!authenticated) {%>
        <li><a class="login" href="#" onclick="document.getElementById('id01').style.display='block'" style="width:auto">Вход</a><span style="color:white">/</span><br><a class="login" href="#" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Регистрация</a></li>
    <%} else {%>
        <li><a class="login" href="/logout" style="width:auto;">Изход</a></li>
    <%}%>
    <li class="icon fas fa-bookmark" id="uno"><a class="link"  href="/"> Начало</a></li>
    <li class="icon fas fa-book" id="dos"><a class="link"  href="/catalog?page=1"> Книги</a></li>
    <li class="icon fas fa-pen-fancy" id="tres"><a class="link" href="/write"> Сътвори</a></li>
    <!-- <li><a class="icon fas fa-address-book" id="cuatro" href="#t4"> Последователи</a></li> -->
    
    <li class="icon fas fa-user" id="sinco"><a class="link"  href="/profile"> Профил</a></li>
    <li class="icon fas fa-users" id="seco"><a class="link"  href="/authors/1"> Творци</a></li>
</ul>


<!-- LOGIN FORMS -->
<div id="id01" class="modal">

  <form class="modal-content animate" action="/" method='POST'>

    <div class="container">
      <label for="1"><b>Username</b></label>
      <input id="1" type="text" placeholder="Enter Username" name="luname" required>

      <label for="2"><b>Password</b></label>
      <input id="2" type="password" placeholder="Enter Password" name="lpsw" required>

      <button class="submit" type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<div id="id02" class="modal">
  <form class="modal-content animate" action="/" method="POST">
    <div class="container">
      <label for="3"><b>Email</b></label>
      <input id="3" type="text" placeholder="Enter Email" name="remail" required>

      <label for="4"><b>Username</b></label>
      <input id="4" type="text" placeholder="Enter Username" name="runame" required>

      <label for="5"><b>Password</b></label>
      <input id="5" type="password" placeholder="Enter Password" name="rpsw" required>

      <label for="6"><b>Repeat Password</b></label>
      <input id="6" type="password" placeholder="Repeat Password" name="rreppsw" required>

      <button class="submit" type="submit">Register</button>

    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button id="cncl" type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>



<script>

var modal = document.getElementById('id01');
var modal2 = document.getElementById('id02');

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    } else if(event.target == modal2){
        modal2.style.display = "none";
    }
}
</script>
