<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/layout_style.css">
<div id = "nav-wrapper">
  <div id = "n">
    <ul id="menu" class="nav">
        <li class="icon"><a href="/"><img id="logo" src=/imgs/logo.png alt="Something"></a></li>
        <%if (!authenticated) {%>
            <li class="icon nonscalable"><a class="login" href="#" onclick="document.getElementById('id01').style.display='block'" style="width:auto">Вход</a><span style="color:white"></span><br><a class="login" href="#" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Регистрация</a></li>
        <%} else {%>
            <li class="icon nonscalable"><a class="login" href="/logout" style="width:auto;">Изход</a></li>
        <%}%>
      <!--<li class="icon fas fa-bookmark" id="uno"><a class="link"  href="/"> Начало</a></li>-->
        <li class="icon fas fa-book" id="dos"><a class="link"  href="/catalog?page=1"> Книги</a></li>
        <li class="icon fas fa-pen-fancy" id="tres"><a class="link" href="/write"> Сътвори</a></li>
        <!-- <li><a class="icon fas fa-address-book" id="cuatro" href="#t4"> Последователи</a></li> -->

        <li class="icon fas fa-user" id="sinco"><a class="link"  href="/profile"> Профил</a></li>
        <li class="icon fas fa-users" id="seco"><a class="link"  href="/authors/1"> Творци</a></li>
    </ul>
  </div>
</div>



<!-- LOGIN FORMS -->
<div id="id01" class="modal">

  <form class="modal-content animate" action="/" method='POST'>

    <div class="container">
      <label for="1"><b>Потребителско име</b></label>
      <input id="1" type="text" placeholder="Въведи потребителско име" name="luname" required>

      <label for="2"><b>Парола</b></label>
      <input id="2" type="password" placeholder="Въведи парола" name="lpsw" required>

      <button class="submit" type="submit">Влез</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Запомни ме
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Отмени</button>
      <span class="psw">Забравена <a href="#">парола?</a></span>
    </div>
  </form>
</div>

<div id="id02" class="modal">
  <form class="modal-content animate" action="/" method="POST">
    <div class="container">
      <label for="3"><b>Имейл</b></label>
      <input id="3" type="text" placeholder="Въведи имейл" name="remail" required>

      <label for="4"><b> Потребителско име</b></label>
      <input id="4" type="text" placeholder="Въведи потребителско име" name="runame" required>

      <label for="5"><b>Парола</b></label>
      <input id="5" type="password" placeholder="Въведи парола" name="rpsw" required>

      <label for="6"><b>Повтори парола</b></label>
      <input id="6" type="password" placeholder="Повтори парола" name="rreppsw" required>

      <button class="submit" type="submit">Регистрирай се</button>

    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button id="cncl" type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Отмени</button>
    </div>
  </form>
</div>



<script>

var modal = document.getElementById('id01');
var modal2 = document.getElementById('id02');

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    } else if(event.target == modal2){
        modal2.style.display = "none";
    }
}
</script>
