
<ul id="menu" class="nav">
    <li><a class="icon fas fa-bookmark" id="uno" href="#t1" onclick="fun(1)"></a></li>
    <li><a class="icon fas fa-book" id="dos" href="/projects"></a></li>
    <li><a class="icon fas fa-pen-fancy" id="tres" href="/write"></a></li>
    <li><a class="icon fas fa-address-book" id="cuatro" href="#t4"></a></li>
    <li><a class="icon fas fa-user" id="sinco" href="/profile"></a></li>
</ul>
