<link rel="stylesheet" href = "/stylesheets/authors.css">
<div class = 'wrapper'>
    <div id = "searchDiv">
    <form class="search-container" action = "/authors/search" method = "GET" id = "search_form">
        <input type="text" id="search-bar" placeholder="Търси автори" name="search">
        <button type="submit" form="search_form">
          <img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png">
        </button>
    </form>
    </div>

            <ul id = "listOfUsers">
                <%if (users != null){%>
                    <%users.forEach((user) => {%>
                      <div class = "userHolderWrapper">
                          <li class = "userHolder">
                              <i class="fas fa-feather-alt authorIcon"></i>          
                              <a href="<%-'/author/' + user.ID + '/show/'-%>">
                                  <%=user.username%>
                              </a>
                          </li>
                      </div>
                    <%});%>
                <%}%>
            </ul>
</div>


<footer>
  <div style="text-align: center">
    <div class="catalog-navigation">
      <%for(let i = 1; i <= numPages; i++){%>
        <a href=<%-"/authors/"+i %> > <%- i %></a>
      <%}%>
    </div>
  </div>
</footer>

