<link rel = "stylesheet" href = "/stylesheets/font.css">
<link rel = "stylesheet" href = "/stylesheets/choosebook.css">
<div id = "projectWrapper">
<center>
  <% books.forEach(book =>{ %>

      <a  href= <%- "/write/mybook?bookId=" + book.Id%> >
        <div class = "projectHolder">
          <img src="/imgs/book.png" width="100px" height="100px" class="projectIcon">
            <h1 class = "projectTitle"><%-book.Title%></h1>
        </div>
      </a>
  <%});%>
  <a href="/newbook"><img src="/imgs/plusbutton.png" id = "addButton"></a>
</center>
</div>
