<link rel = "stylesheet" href = "/stylesheets/font.css">
<link rel = "stylesheet" href = "/stylesheets/choosebook.css">
<script src="/javascripts/choosebook.js"></script>
<div class="modal-content">
  <div class="modal-body">
    <div id = "formholder"><form>
      <input type = "text" placeholder= "Име" name = "name">
      <input type = "submit" id = "createBook" value="Създаване на книга">
    </form></div>
  </div>
</div>
<center><% books.forEach(book =>{ %>

    <a  href= <%- "/write/mybook?bookId=" + book.Id%> >
      <div class = "projectHolder">
        <img src="/imgs/book.png" width="100px" height="100px" class="projectIcon">
          <h1 class = "projectTitle"><%-book.Title%></h1>
      </div>
    </a>

<%});%>
<button id="myBtn"><img src="/imgs/plusbutton.png" id = "addButton"></button></center>
