<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<div id="main">
<h1 id="title">Добре дошли в WritersDen</h1>

<h3>Присъедини се към света на творците</h3>

<p>WritersDen дава възможност на своите потребители да споделят произведенията си.
Те ще бъдат оценявани от други автори и любители на литературата.
Единственото ограничение е твоето въображение, така че какво чакаш?</p>

<div id="login_register">

  <a class="login1" onclick="document.getElementById('id01').style.display='block'" href="#" >Влез</a>
  <span class="t">/</span><a class="login1" onclick="document.getElementById('id02').style.display='block'" href="#" style="width:auto;">Регистрирай се</a>
  <span class="t"> или бъди наш </span><a class="login1" href="/books?page=1" style="width:auto;">Гост</a>
  <div id="line"><img id="l"  src=/imgs/Line.png alt="Something"></div>
</div>
</div>
<div id="feather"><img id="f"  src=/imgs/feather3.png alt="Something"></div>

<div id="ink"><img id="i"  src=/imgs/InkDrop.png alt="Something"></div>
