<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<div id="main">
<h1>Добре дошли в WritersDen</h1>

<h3>Присъедини се към света на творците</h3>

<p>WritersDen дава възможност на своите потребители да споделят творчеството си.</p>

<div id="login_register"><a class="login1" href="#" >Login</a><span>/</span><a class="login1" href="#" style="width:auto;">Register</a></div>
</div>
<div id="feather"><img  src=/imgs/feather3.png alt="Something"></div>
