<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<div id="main">
<h1>Добре дошли в WritersDen</h1>

<h3>Присъедини се към света на творците</h3>

<p>WritersDen дава възможност на своите потребители да споделят творчеството си.</p>
</div>
<img id="feather" src=/imgs/feather3.png>
