<!–– vseki proekt --!>
<div class = "projectHolder">
  <img src="manuscript.png" width="70px" height="100px" class="projectIcon">
    <h1 class = "projectTitle">Сагата за дъвката</h1>
</div>
<center><a href="#"><img src="plusButton.png" id = "addButton"></a></center>
