<!DOCTYPE html>
<html lang="bg">
<head>
  <link rel="stylesheet" href = "/stylesheets/write.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <title> Feather's Land </title>
<meta charset="UTF-8">
</head>
<body>
  <script>
    var xhttp = new XMLHttpRequest();

    document.onkeydown = (event) => {
      if (event.ctrlKey && event.which == 81 || event.ctrlKey && event.which == 113){
        var res = `<%-result%>`;
        
        xhttp.onreadystatechange = () => {
          if (xhttp.readyState == 4 && xhttp.status == 200){
            document.getElementById('writingResult').innerHTML = JSON.parse(xhttp.responseText).result;
          }
        };

        let text = document.getElementById('writingInProgress').innerText;
        
        xhttp.open('POST', '/write/', true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send('markdown=' + text);
      }
    }

    //   setInterval(() => {
    //     var res = `<%-result%>`;


    //   xhttp.onreadystatechange = () => {
    //     if (xhttp.readyState == 4 && xhttp.status == 200){
    //       document.getElementById('writingResult').innerHTML = JSON.parse(xhttp.responseText).result;
    //     }
    //   };

    //   let text = document.getElementById('writingInProgress').innerText;
      
    //   xhttp.open('POST', '/write/', true);
    //   xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    //   xhttp.send('markdown=' + text);
    // }, 1000);

  </script>
  <form action='/write/<%-chapter.Id-%>' method="POST">
  <div class="split left">
    <div contenteditable id = "writingInProgress" style='white-space: pre;'>
      <%=chapter.Content%>
    </div>
  </div>
  <div class="split right">
  
  <button type='submit' id = "writeButton"><img src="/imgs/ready.png" id = "readyButton" alt = "ready"></button>
    
  <div id = "writingResult">
        
  </div>
  </form>
</div>
</body>
</html>
