.split {
  height: 100%;
  width: 43%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  left: 15%;
  background-color: none;
}
.right {
  right: 0;
  background-color: none;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centered img {
  width: 150px;
  border-radius: 50%;
}
#authorName {
  font-size: 30px;
}
#authorBio {
  width: 85%;
  word-break: break-all;
}
.projectHolder {
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 60px;
   width: 90%;
   margin-top: 2vh;
   display: flex;
   justify-content:center;
   align-content:center;
   flex-direction:row;
}
.projectTitle {
  display: inline;
  font-size: 20px;
  font-weight: 300;
  color: #5f859b;
  float: left;
}