#listOfUsers {
  list-style-type: none;
  width: 40%;
  text-align: center;
  margin: auto;
  padding-left: 0;
}


.userHolder {
  font-size: 3em;
  padding: 20px;
  text-align: left;
  margin: 10px;
  display:flex;
  align-content: center;
}
.userHolderWrapper:hover{
  animation: hover 2s;
}

button[type=submit]{
  background: none;
  outline: none;
  border: none;
  position: absolute;
  right: 0;
}

.userHolderWrapper{
  background-color: white;
  border-radius: 40px;
  margin-bottom: 10px;
}

.userHolder a{
  margin: auto;
  color: black;
}

.search-container{
  width: 50%;
  display: block;
  background-color: white;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
  border-radius: 30px;
}

div#searchDiv{
  margin-bottom: 40px;
}

input#search-bar{
  /* display:block; */
  /* width: 100%; */
  overflow: auto;
  width: 85%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 2rem;
  border: 0px;
  border-radius: 30px;
  outline: none;
 }

a {
  text-decoration: none;
  color: white;
}

.search-icon{
    width: 70px;
}
.authorIcon {
  font-size: 80px;
  margin-right: 20px;
}

footer {
  font-size: 30px;
  color: white;
  font-family: Open Sans;
  text-decoration: none;
  text-align: center;
}

.catalog-navigation{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/imgs/pattern.png);
  border-radius: 20px;
  height: 50px; 
}

.wrapper{
  min-height: calc(80vh);
}