body {
  background-image: url("imgs/back.png");
  font-family: Open Sans;
}
.split {
height: 100%;
width: 42%;
position: fixed;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-top: 20px;
}

/* Control the left side */
.left {
left: 15%;
background: none;
}

/* Control the right side */
.right {
right: 0;
background: none;
}
#bookholder {
background-color: white;
border-radius : 30px;
padding : 20px;
margin-right: 1%;
}
#works {
text-align: center;
}
#name {
text-align: center;
font-size: 30px;
}
#userBio {
  background-color: color;
  border-radius: 20px;
  padding: 10px;
}
