  .chapterImage {
    width: 40px;
    height: 50px;
    display: inline;
  }
  .chapterTitle{
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: #5f859b;
  }

  a#titleAnchor{
    margin: auto;
  }
  i.fas{
    position: relative;
    float: right;
    color: #af4911;
    margin-top: 2%;
  }

  .chapterHolder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    text-align: left;
    background-color: white;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #headingChapters {
    text-align: center;
    margin: 30px;
    font-weight: 400;
    font-size: 55px;
    color: #5f859b;
  }
  #commentArea {
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 200px;
    padding: 30px;

  }
  textarea:focus{
  outline: none;
}


  .author {
    font-size: 20px;
    padding: 20px;
  }
  .comment {
    padding: 20px;
  }
  #commentAnnounce {
    text-align: center;
    color: #5f859b;
  }


  #publish{
    background-color: #696abf;
  }
  .Button {
    background-color: #5f859b;
    border: none;
    border-radius: 60px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
  }
  a {text-decoration: none;}
  .com {
    width: 50%;
    background-color: white;
    margin-top: 10px;
    display: table;
  }
  .com {
    border-radius: 30px;
    width: 50%;
    font-size:20px;
    background-color: white;
    padding: 10px;
    margin: 10px;
  }
  .author {
    font-weight: bold;
  }
  .author, .comment {
    word-wrap: break-word;
    display: table-cell;
    vertical-align: middle;
  }
  #addButton {
    width: 8%;
  }

  div.commentSection{
    color: black;
    width: 70%;
    margin: 20px auto 0 auto;
  }

  div.commentBlock{
    padding: 10px;
    background-color: white;
    border-radius: 50px;
    margin-top: 5px;
    font-size: 120%;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  /* .commentAuthor, .commentContent, .commentDate{
    display: flex;
    align-content: center;
  } */
  div.commentAuthor{
    width: 25%;
    font-weight: 700;
    text-align:  center;
    overflow: auto;
  }
  div.commentContent{
    width: 65%;
    text-align:  center;
    overflow: auto;
    max-height: 50px;
    transition: max-height 1s;
  }
  div.commentContent:hover{
    max-height: 500px;
    }
  div.commentDate{
    width: 10%;
    font-size: 50%;
    font-style: italic;
  }