body {
  font-family: Open Sans;
}
.bookLink {
  text-decoration: none;
  color: black;
  text-align: center;
}

.bookLink:hover
{
     color:black;
     text-decoration:none;
     cursor:pointer;
}

.projectHolder {
  width: 20%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  /* margin: 0 10px 10px 10px; */
  height: 200px;
  overflow: hidden;
}

.search-container{
  width: 50%;
  display: block;
  position: relative;
  margin-top: 50px;
  margin-left: 22%;
  border-radius: 30px;
}

.msg{
  margin-top: -5%;
}

div.row{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

input#search-bar{
  display:block;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 0;
  margin-left: 1px;
  padding: 10 20px;
  font-size: 2rem;
  border: 0px;
  border-radius: 30px;
  outline: none;
 }

.search-icon{
  width: 9vh;
  height: 9vh;
  margin: 0;
  float: right;
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
footer {
  font-size: 30px;
  color: #474a4f;
  font-family: Open Sans;
  text-decoration: none;
  text-align: center;
  opacity: 0;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.catalog-navigation{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/imgs/pattern.png);
  border-radius: 20px;
  height: 50px; 
}

.wrapper{
  min-height: calc(80vh);
}
