body {
  background-image: url("/imgs/pattern.png");
}

#likeButton {
  font-size: 50px;
  color: white;
  text-decoration: none;
  transition: color 1s;
}

#likeButton:hover{
  color: #696abf;
}

#editButton {
  background-color: #5f859b;
  border: none;
  border-radius: 60px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}

#textHolder {
  font-size: 150%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  background-image: url("/imgs/back.png");
  padding: 20px;
  border-radius: 30px;
  overflow: auto;
}

#textHolder blockquote{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

#edit {
  background-color: #5f859b;
  border: none;
  border-radius: 60px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}

#downButton {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

#chapterTitle {
  text-align: center;
  font-weight: 900;

  font-size: 200%;
  margin-top: 30px;
  margin-bottom: 100px;
}
#nextButton, #beforeButton, #hamburgerButton, #downButton, #likeButton {
   width: 100px;
   margin: 30px;
   height: 100px;
}
#hamburgerButton {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
}

#textHolder #fullscreenBtn{
  float: right;
}

#fullscreen_png{
  width: 30px;
  height: auto;
  transition: width .6s ease-out;
}
#fullscreen_png:hover{
  width: 20px;
}

.button{
  transition: background-color 1s;
}

.com {
  border-radius: 30px;
  width: 50%;
  font-size:20px;
  background-color: white;
  padding: 10px;
  margin: 10px;
}
.author {
  font-weight: bold;
}
.author, .comment {
  word-wrap: break-word;
  display: table-cell;
  vertical-align: middle;
}

#drop_down_content{
  display: none;
  position:fixed;
  top:130px;
  height: 300px;
  width: 200px;
  animation: scroll-roll 1s ease-out;
  overflow: hidden;
}

#drop_down_content img {
  width: 100%;
  z-index: -20;
  position: absolute;
  height: 100%;
}

#drop_down_content div#options{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#drop_down_content div#options div{
  opacity: 0;
  animation: scroll-nav-order 1s ease-out 0.6s;
  animation-fill-mode: forwards;
}

#options div a:hover{
  text-decoration: none;
}