body {
  font-family: Open Sans;
}

h1{
  margin: 2% auto;
}

.projectHolder {
  text-align: center;
  padding: 18px;
  background-color: white;
  border-radius: 60px;
  align-items: center;
  width: 520px;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-content:center;
  flex-direction:row;
}

.projectHolder:hover{
  animation: hover 2s;
}

.projectIcon{
  /* margin-right: 2vw; */
  /* margin-top: 12px; */
}
.projectTitle {
  display: inline;
  font-size: 44px;
  font-weight: 300;
  color: #5f859b;
  float: left;
}
#addButton {
  width: 8%;
  position: fixed;
  bottom: 42%;
  right: 0;
}
a {
  color: black;
  text-decoration: none;
}
