a.login1 {

  font-size: 1.5vw;
  color: black;
  font-family: Open Sans;

}

span.text{
  font-size: 1.5vw;
  font-family: Open Sans;
}

span.t{
  font-size: 1.5vw;
  color: black;
  font-family: Open Sans;
}


#login_register{
  width:100vw;
  margin-left: 22%;
  margin-top: 15%;
}

#feather{
  width: 15vw;
  margin-left: 70%;
  margin-top: -29%;

}

img#f {
  width: 20vw;
}

img#l{
  width: 15vw;
  height: 10px;
}

img#i{
  width: 20vw;
  height: 60%;
}

#ink{
  width: 20vw;
  margin-left: 80%;
  margin-top:-10%;
}

#line{
  width: 20vw;
  margin-left: 29%;
  margin-top:-1.1%;
}

#main{
  width: 60vw;
  margin-left: 3%;
  margin-top: 8.5%;
}

h1#title{
  margin-left: 17%;
  font-size:6vh;
  font-family: Open Sans;
}

h3#subtitle{
  margin-left: 27%;
}

h3{
  font-size:2.5vh;
  font-family: Open Sans;
}

p{
  margin-left: 7%;
  font-size:4vh;
  font-family: Open Sans;
}
