/* body{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  margin: auto;
  height: 650px;

} */

a.login1 {

  font-size: 25px;
  color: black;
  text-decoration: underline;
  font-family: 'Marck Script', cursive;

}

span.text{
  font-size: 25px;
  font-family: 'Marck Script', cursive;
}


span.t{
  font-size: 25px;
  color: black;
  font-family: 'Marck Script', cursive;
}



#login_register{
  /* text-align: end; */
  width:500px;
  display: inline-block;
  /* margin-left: 70px; */
  margin-top: 5px;
}

img#f {
  width: 270px;
}

img#l{
  width: 300px;
  height: 10px;
}

img#i{
  width: 250px;
  height: 200px;
}


#feather{
  display: inline-block;
  z-index: -20;
  float: right;
}

#ink{
  width: 150px;
  z-index: -20;
  display: inline-block;
  float: right;
  /* margin-left: 900px; */
}

@media (max-width: 1300px){
  div#home-wrapper{
    background-size: auto 100%;
  }
}

#home-wrapper{
  display: flex;
  align-items: center;
  background: url("/imgs/scroll.png") no-repeat center;
  background-size: 100% auto;
  justify-content: center;
  height: 100%;
  width: 100%;

  
  -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 11.2.1 */
  -moz-animation: fadein 1.2s; /* Firefox < 16 */
  -ms-animation: fadein 1.2s; /* Internet Explorer */
  -o-animation: fadein 1.2s; /* Opera < 11.2.1 */
  animation: fadein 1.2s;

  
}

#home{  
  width: 750px;
  
}

h1#title{
  /* margin-left: 126px; */
  margin-top: 0;
  font-size:35px;
  text-align: center;
  font-family: 'Marck Script', cursive;
}

h3#subtitle{
  text-align: center;
  margin-bottom: 50px;
  /* margin-left: 126px; */
  font-family: 'Marck Script', cursive;
  font-size:30px;
}


p{
  font-family: Open Sans;
}

p#description{
  margin-left: 10px;
  font-size:30px;
  font-family: 'Marck Script', cursive;
}
