a.login1 {

  font-size: 2vw;
  color: black;
  font-family: 'Marck Script', cursive;

}

span.text{
  font-size: 1.5vw;
  font-family: 'Marck Script', cursive;
}


span.t{
  font-size: 1.5vw;
  color: black;
  font-family: 'Marck Script', cursive;
}


#login_register{
  width:500px;
  margin-left: 15%;
  margin-top: 10%;
}

#feather{
  width: 15vw;
  margin-left: 70%;
  margin-top: -29%;

}

img#f {
  width: 20vw;
}

img#l{
  width: 18vw;
  height: 10px;
}

img#i{
  width: 20vw;
  height: 60%;
}

#ink{
  width: 20vw;
  margin-left: 77%;
  margin-top:-15%;
}

#line{
  width: 30vw;
  margin-left: 50%;
  margin-top:-1.4%;
}

#main{
  width: 60vw;
  margin-left: 3%;
  margin-top: 8.5%;
}

h1#title{
  margin-left: 17%;
  font-size:6vh;
  font-family: 'Marck Script', cursive;
}

h3#subtitle{
  margin-left: 17%;
  font-family: 'Marck Script', cursive;
  font-size:4vh;
}


p{
  font-family: Open Sans;
}

p#description{
  margin-left: 1%;
  font-size:5vh;
  font-family: 'Marck Script', cursive;
}
