html, body {
  height: 100%;
  background-image: url("/imgs/back.png");
  margin: 0;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


#logo{
  width: 80px;
  height: 120px;
}


ul#menu li{
  transition: font-size  0.4s, height 0.4s;
  /* transition: height 0.4s; */
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center; 
  animation: navbar-order 1.2s;
  -webkit-animation: navbar-order 1.2s;
  -o-animation: navbar-order 1.2s;
  animation-timing-function: ease-out;
}

li.nonscalable{
  flex-direction: column;
}

button.submit {
  background-color: #e2a408;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.page {
  position: absolute;
  transition-delay: 1s;
}

.icon {
  color: #fff;
  font-size: 18px;
  display: block;
}
/* 
ul .icon:hover {
  opacity: 0.5;
} */


.page .icon .title {
  line-height: 2;
}

#nav-wrapper{
  font-family: 'Marck Script', cursive;
  width: 15%;
  position: relative;
  float: left;
  height: 100%;
}

#n{
  background-image: url(/imgs/pattern.png);
  position: fixed;
  min-height: 100%;
  width: 15%;
  float: left;
  display: inline-block;
}

#page{
  display: inline-block;
  width: 81%;
  height: 92%;
  margin: 2%;
}

ul.nav {
  margin: auto;
  height: 100vh;
  width: 170px;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

@media (max-width: 1300px){
  ul.nav, #n, #nav-wrapper{
    display: none;
  }
  #page{
    width: 100%;
  }
} 

#menu .icon {
  margin: 30px 0;
  font-weight: 900;

}

a{
  text-decoration: none;
  color: white;
  
}

a.login, .link {
  text-decoration: none;
  margin-left:5px; 
  color: white;
  font-size: 130%;
  font-family: 'Open Sans', fantasy;
}

ul#menu li:hover{
  font-size: 180%;
  height: 10%;
}

a.login{
  font-family: 'Marck Script', cursive;
  font-size: 100%;
}

.icon {
  /* float: left; */
  font-size: 20px;
}

.real-icon{
  margin-right: 12px;
  font-size: 140%;
}

#cncl{
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  color:white;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin-left:34%;
  border: 1px solid #888;
  width: 40%;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.with-font{
  font-family:  'Marck Script', cursive;
}

/* Button animation */


.button {
  background: #696abf;
  border-radius: 100px;
  font-family: 'Marck  Script', cursive;
  padding: 10px 15px;
  color: #fff;
  border: 0px;
  text-decoration: none;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.button:hover {
  -webkit-animation: hover 1200ms linear 2 alternate;
  animation: hover 1200ms linear 2 alternate;
  background-color: #4245f0;
  cursor: pointer;
}

.button:active {
  -webkit-animation: active 1200ms ease 1 alternate;
  animation: active 1200ms ease 1 alternate;
  /* background: #5F9BE0; */

}
.button:focus {
  outline: none;
}


