/* body{
  position: absolute;
  z-index: 1;
  top:0;
  left: 0;
  margin: auto;
  height: 650px;
} */

.split {
  height: 400px;
  width: 550px;
  position: relative;
  text-align: center;
  top: 50px;
  padding-top: 5px;
  display: inline-block;

  margin: 20px; 
}

.left {
  float: left;
}

.right {
  float: right;
}


#listbooks{
  max-height: 375px;
  width: 500px;
  overflow-x: hidden;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

#authorBio {
padding: 10px;
height: 130px;
}

#books{
  margin-right: 60px;
}
#bio {
width: 500px;
height: 130px;
font-size: 20px;
}



.bHolder {
margin: 20px;
}
a {
text-decoration: none;
color: #4f4f56;
}
