h2#name{
  margin-left: 10%;
  margin-top: 5%;
}

form#bioForm{
  margin-left: 10%;
  margin-top: -12%;
}

#bio{
  width: 300px;
  height: 200px;
  background-color: white;
  max-width: 300px;
  word-break: break-all;

}

h3 {
  margin-left: 10%;

}

#submitbtn{
  width: 300px;
}

ul#books li{
  list-style-type: none;

}

#books{
  margin-left: -30%;
  margin-top: -4.9%;
}

#picture{
  margin-left: 40%;
  margin-top: -5%;
}

#bookshelf{
  width: 500px;
  margin-left: 50%;
  margin-top: -17%;
  max-height: 350px;
  overflow-y: scroll;

}

.projectHolder {
  margin-left: 25%;
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 60px;
   width: 60%;
   margin-top: 4vh;
   display: flex;
   justify-content:center;
   align-content:center;
   flex-direction:row;
}
.projectIcon{
  margin-right: 2vw;
  margin-top: 8px;
  width:70px;
  height: 70px;
}
.projectTitle {
  display: inline;
  font-size: 24px;
  color: #5f859b;
  float: left;
  text-decoration: none;
  margin-top: 7%;
}
#addButton {
  margin-left: 10%;
  width: 8%;
}
