#container{
  margin-top:5%;
  margin-left:15%;
}
.body {
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
h2#name{

  margin-left: 10%;
  margin-top: 5%;
}

form#bioForm{
  margin-left: 10%;
}

#bio{
  width: 22vw;
  height: 14vw;
  background-color: white;
  max-width: 22vw;
  word-break: break-all;

}

h3 {
  margin-left: 10%;

}

#submitbtn{
  width: 22.5vw;
  margin-left: 10%;
}


ul#books li{
  list-style-type: none;
}


#books{

  margin-left: -30%;
  margin-top: 10%;
}

#picture{
  width: 30vw;
  margin-left: 40%;
  margin-top: -42%;
}

#bookshelf{
  width: 40%;
  margin-left: 50%;
  margin-top: 10%;
  max-height: 350px;
  overflow-y: scroll;

}

.projectHolder {
  margin-left: 38%;
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 60px;
  max-width: 40%;
   margin-top: 4vh;
   display: flex;
   justify-content:center;
   align-content:center;
   flex-direction:row;
}
.projectIcon{
  margin-right: 2vw;
  margin-top: 8px;
  width:70px;
  height: 70px;
}
.projectTitle {
  display: inline;
  font-size: 24px;
  color: #5f859b;
  float: left;
  text-decoration: none;
  margin-top: 7%;
}
