.projectHolder {
  margin-left: 30%;
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 60px;
   width: 50%;
   margin-top: 10vh;
   display: flex;
   justify-content:center;
   align-content:center;
   flex-direction:row;
}
.projectIcon{
  margin-right: 4vw;
  margin-top: 32px;
}
.projectTitle {
  display: inline;
  font-size: 64px;
  font-weight: 300;
  color: #5f859b;
  float: left;
}
#addButton {
  margin-left: 10%;
  width: 8%;
}
