.split {
height: 100%;
position: fixed;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-top: 20px;
}
#readyButton {
  width:80px;
  height:80px;
}
.left {
  width: 35%;
  left: 0;
  word-break: break-all;
}
.right {
  width: 65%;
  right: 0;
}
#writingResult {
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
  color: #433b3b;
  font-weight: 300;
  font-size:30px;
  margin-right:5%;
  margin-top: 5%;
}

div[contenteditable]{
  font-family: 'Open Sans', sans-serif;
  height: 80%;
  color: #433b3b;
  font-weight: 300;
  font-size:20px;
    margin-left:10%;
    margin-right:5%;
    margin-top: 5%;
    word-wrap: break-word;
}
#writeButton {
  position: absolute;
  top: 30;
  right: 40px;
  background: none;
  border: none;
}
#writeButton:focus {
  outline: none;
}
div[contenteditable]:focus{
  outline: none;
}
body {
  background-image: url("/imgs/back.png");
}
* {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}
#writingInProgress {
  overflow: auto;
  word-wrap: break-word;
}
